<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <link rel="stylesheet" href="./vocabulaire/vocabulaire.css" media="screen">
  <link rel="stylesheet" href="./vocabulaire/vocabulaire_impr.css" media="print">
  <script src="https://unpkg.com/vue"></script>
  <script src="vocabulaire/vocabulaire.js" charset="UTF-8"></script>
</head>
<body>
  <div id="app">
    <pages :cartes="cartes"></pages>
  </div>
  <script>
    Vue.component('pages', {
      template: `
        <div>
          <pageRecto :page="page" v-for="page in pages"></pageRecto>
          <pageVerso :page="page" v-for="page in pages"></pageVerso>
        </di>
      `,
      props: ['cartes'],
      data: function() {
        return {
          pages: []
        }
      },
      created: function() {
        while(this.cartes.length) {
          this.pages.push(this.cartes.splice(0, 8));
        }
      }
    });
    Vue.component('pageRecto', {
      template: `
        <div class="page">
          <div class="rectos">
            <recto :info='carteParcouru.info' v-for='carteParcouru in page'></recto>
          </div>
        </div>
      `,
      props: ['page']
    });
    Vue.component('pageVerso', {
      template: `
        <div class="page">
          <div class="versos">
            <verso :info='carteParcouru.info' v-for='carteParcouru in page'></verso>
          </div>
        </div>
      `,
      props: ['page']
    });
    Vue.component('recto', {
        template: `
          <div class="recto">
            <div>
              <span v-for='x in info.mot'>{{x.kanji}}</span>
            </div>
            <div class="page-breaker" v-if="!((this.index+1)%8)"><div class="page-breaker-child"></div></div>
          </div>
        `,
        props: ['info', 'index']
    });
    Vue.component('verso', {
        template: `
          <div class="verso">
            <div class="traduction">
              <div>{{info.traduction}}</div>
            </div>
            <div class="kanjisEtFuriganas">
              <kanjiEtFurigana :furigana='x.furigana' :kanji='x.kanji' v-for='x in info.mot'></kanjiEtFurigana>
            </div>
          </div>
        `,
        props: ['info']
    });
    Vue.component('kanjiEtFurigana', {
        template: `
          <div class="kanjiEtFurigana">
            <div class="furigana">{{furigana}}</div>
            <div class="kanji">{{kanji}}</div>
          </div>
        `,
        props: ['furigana', 'kanji']
    });

    var app = new Vue({
      el: '#app',
      data: {
          cartes: vocabulaire
      }
    })
  </script>
</body>
</html>