:root{
    --couleur-principale:#FF5050;
    --couleur-bordure-coupe:#F2F2F2;
    --hauteur-carte:34vw;
}

@page {

    margin-top: 0.5cm;
    margin-right: 1cm;
    margin-bottom: 0.5cm;
    margin-left: 1cm;

}

@font-face {
    font-family: japaneseNormal;
    src: url('../ressources/Appli mincho.otf');
}

@font-face {
    font-family: japaneseKanjiOrder;
    src: url('../ressources/KanjiStrokeOrders_v4.001.ttf');
}

#app {
    -webkit-print-color-adjust: exact; /* force le navigateur à imprimer les couleurs justes, valable unqiuement sur chrome*/
}
.rectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.recto {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px dashed grey;*/
    width: 49%;
    flex:auto;
    height: var(--hauteur-carte);
    font-family: japaneseNormal;
    text-align: center;
    color: var(--couleur-principale);
    font-size: 36px;
}
.versos {
    border-left: 1px dashed var(--couleur-bordure-coupe);
    border-top: 1px dashed var(--couleur-bordure-coupe);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    page-break-before:always; /* Nouvelle page */
}
.verso {
    border-right: 1px dashed var(--couleur-bordure-coupe);
    border-bottom: 1px dashed var(--couleur-bordure-coupe);
    width: 49%;
    height: var(--hauteur-carte);
    flex:auto; /* Permet de faire que les cartes prennes toutes la largeur*/
}
.traduction {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border-bottom: 1px dotted var(--couleur-principale);
    color: var(--couleur-principale);
    height: calc(var(--hauteur-carte)/2);
    text-align: center;
}
.kanjisEtFuriganas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: japaneseNormal;
    color: black;
    height: calc(var(--hauteur-carte)/2);
}
.furigana {
    font-size: 12px;
    text-align: center;
    white-space: pre;
}
.kanji {
    font-size: 36px;
    text-align: center;
}
.page {
    page-break-after: always;
}